<section id="section-lista-Atleta">
    <h2>Lista Atletas</h2>
  
    @for(elem of listaAtletas(); track elem.id) {
      <div class="atleta-item">
        <span class="span-dados-atleta">
          {{elem.id}} - {{ elem.nome }} - {{elem.cpf}} - {{elem.sexo}}
          - {{elem.uf}}
        </span>
  
        <span class="span-lnk-atletas">
          <a class="link-atleta link-alterar"
             (click)="carregaDadosAtletaForm(elem)">A</a>
          <a class="link-atleta link-excluir"
             (click)="excluir(elem.id)">E</a>
        </span>
      </div>
    }@empty{
      <div class="empty-list-pessoa">
        NENHUM REGISTRO NA LISTA
      </div>
    }
  </section>