<section id="form">
    <h2> Cadastro de Atleta</h2>

    <form action="" id="form-atleta">
        <label for="nome">Nome Completo</label>
        <input type="text"
         name="nome"
          id="nome"
           class="input01"
            maxlength="60"
             required placeholder="Digite o nome completo">

        <label for="cpf">CPF</label>
        <input type="text"
         name="cpf"
          id="cpf"
           class="input02"
            maxlength="14"
             required placeholder="Digite o CPF">

        <label for="sexo">Sexo</label>
        <input type="radio"
         name="sexo"
          id="sexoM"
          class="radio01" 
           required value="M"> Masculino

        <input type="radio"
         name="sexo"
          id="sexoF"
          class="radio01"
          required value="F"> Feminino

        <input type="radio" 
        name="sexo" 
        id="sexoN" 
        class="radio01" 
         required value="N"> Não Declarar

        <label for="rua-logradouro">Rua/Logradouro</label>
        <input type="text"
         name="rua-logradouro"
          id="rua-logradouro"
           class="input01"
            maxlength="100"
             required placeholder="Digite sua rua ou Logradouro">

        <label for="bairro">Bairro</label>
        <input type="text"
         name="bairro"
          id="bairro" 
          class="input02" 
          maxlength="60"
           required placeholder="Digite o Bairro">

        <label for="cidade">Cidade</label>
        <input type="text"
         name="cidade" 
         id="cidade" 
         class="input02"
          maxlength="15"
           required placeholder="Digite a cidade">
         
         <div id="btn">
        <button type="submit"> Cadastar</button>
        <button type="reset"> Limpar</button>
    </div>




    </form>
</section>
