<h2>Cadastro Corrida</h2>

<form (ngSubmit)="salvar()" id="CadastroCorrida">

    <label for="descricaoCorrida">Descrição da Corrida</label>
    <input type="text" 
           name="descricaoCorrida" 
           id="descricaoCorrida" 
           [(ngModel)]="corrida.descricaoCadCorrida" 
           class="input01" 
           required 
           placeholder="Ex: 4ª Maratona de Aracaju">

    <label for="dataCorrida">Data da Corrida</label>
    <input type="date" 
           name="dataCorrida" 
           id="dataCorrida" 
           [(ngModel)]="corrida.dataCadCorrida" 
           class="input02" 
           required>

    <label>Distâncias Disponíveis</label>
    <input type="radio" name="distanciaCorrida" id="5km" [(ngModel)]="corrida.distanciaCadCorrida" [value]="5" class="radio01" required> 5km
    <input type="radio" name="distanciaCorrida" id="10km" [(ngModel)]="corrida.distanciaCadCorrida" [value]="10" class="radio01" required> 10km
    <input type="radio" name="distanciaCorrida" id="15km" [(ngModel)]="corrida.distanciaCadCorrida" [value]="15" class="radio01" required> 15km

    <div id="cadastrarcorrida">
        <button type="submit" id="cadastrarcorridabtn">Cadastrar Corrida</button>
    </div>

</form>