<h2>Cadastro Corrida</h2>
<form action="" id="CadastroCorrida">
    <label for="descricaoCorrida">Descrição da Corrida</label>
    <input type="text" name="descricaoCorrida"
    id="descricaoCorrida"
    class="input01"
    required
    placeholder="Ex: 4ª Maratona de Aracaju">

<label for="dataCorrida">Data da Corrida</label>
<input type="date" name="dataCorrida"
id="dataCorrida"
class="input02"
required
>

<label for="distanciaCorrida">Distâncias Disponíveis</label>
<input type="radio" name="distanciaCorrida"
    id="5km"
    class="radio01"
    required
    value="5km"> 5km


<input type="radio" name="distanciaCorrida"
id="10km"
class="radio01"
required
value="10km"> 10km


    <input type="radio" name="distanciaCorrida"
    id="15km"
    class="radio01"
    required
    value="15km"> 15km

    <div id="cadastrarcorrida">
        <button type="submit" id="cadastrarcorridabtn">Cadastar Corrida</button>
    </div>



    
</form>
